<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <appSettings>
  
    <!--<add key="BaseUrl" value="http://localhost:15672/api"/>
    <add key="Authorization" value="Basic Z3Vlc3Q6Z3Vlc3Q="/>
    <add key="RabbitMQConn" value="localhost"/>
    <add key="RabbitMQVHost" value="chat"/>
    <add key="RabbitMQUser"     value="guest"/>
    <add key="RabbitMQPassword" value="guest*"/>-->

    
    <add key="BaseUrl"          value="http://mazzolla.eastus2.cloudapp.azure.com:15672/api"/>
    <add key="Authorization"    value="Basic ZG1henpvbGxhOkhlaXRvcio="/>
    <add key="RabbitMQConn"     value="mazzolla.eastus2.cloudapp.azure.com"/>
    <add key="RabbitMQVHost"    value="chat"/>
    <add key="RabbitMQUser"     value="dmazzolla"/>
    <add key="RabbitMQPassword" value="Heitor*"/>
    
  </appSettings>
  
</configuration>